<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Edición</title>
</head>
<body ng-app="apirest">
	<div ng-controller="EdicionController">
		<label>ID ST</label>
		<input ng-model="st_id" type="text">
		<button ng-click="updSeguridadTranquera()">Actualizar</button>
	</div>

	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/js-angular/edicion-controllers.js"></script>
	<script type="text/javascript" src="js/js-angular/edicion.js"></script>
</body>
</html>